{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  <body>
    <h1 class="bg-red-900">Hello world!</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor alias magnam
    at odit ducimus neque voluptatibus vel, deserunt officiis cumque asperiores
    sint veritatis voluptas vero dicta beatae laborum placeat blanditiis?
  </body>
</html>
